<app-menu></app-menu>
<app-loading [isLoading]="isLoading"></app-loading>
<div *ngIf="games.length > 0" class="list-games container">
  <div class="row">
    <div *ngFor="let game of games" class="list-games__item col-xl-3 col-md-6">
      <div class="info">
        <button type="button" class="btn">Play</button>
        <div class="name">{{ game.name }}</div>
      </div>
      <div *ngIf="game.amount" class="amount">€ {{ game.amount }}</div>
      <div *ngIf="paramsCategories == newTag" class="tag new">New</div>
      <div
        *ngIf="paramsCategories == topTag || paramsCategories == slotsTag"
        class="tag top"
      >
        Top
      </div>
      <img class="thumbnail" [src]="game.image" alt="" />
      <div class="info-mobile">
        <div class="name">{{ game.name }}</div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="games.length == 0" class="non-game">No Game Available For Now</div>
